<ul th:fragment="header">
	  <li><a href="/article">Article Management System</a></li>
	  <li><a href="/article">Articles</a></li>
	  <li><a href="/add">Add</a></li>
	  <li><a href="/article?lang=en">English</a></li>
	  <!-- <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Language</a>
      <div class="dropdown-content">
	      <a href="#">Khmer</a>
	      <a href="#">English</a>
	      <a href="#">Korean</a>
    	</div>
  	  </li>-->
  	  <li><a href="/article?lang=kh">Khmer</a></li>
  	  <li><a href="/article?lang=kr">Korean</a></li>
</ul>