<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
<head>
<meta charset="ISO-8859-1" />
<title>Add New Article</title>
<link rel="stylesheet" type="text/css" href="mystyle.css" />
</head>
<body>
	<div id="main" class="container" layout:fragment="content">
	<h1 th:text="${formAdd}?'Add New Article':'Update Article'">Add New Article</h1>
	<h2><a href="/article" style="text-decoration:none;">Back to HomePage</a></h2>
	<form th:action="${formAdd}?'/add':'/update'" method="post" enctype="multipart/form-data">
	  	<div class="form-group">
		    <!-- <label for="exampleInputEmail1">ID</label>-->
		    <input class="form-control" type="hidden" placeholder="ID" th:field="${article.id}" />
	  	</div>
  		<div class="form-group">
		    <label for="exampleInputPassword1">Title</label>
		    <input class="form-control" type="text" placeholder="Article Title" th:field="${article.title}" />
		    <span th:if="${#fields.hasErrors('article.title')}" style="color:red;">Title can not be blank</span>
  		</div>
  		<div class="form-group">
		    <label for="exampleInputPassword1">Category</label>
		    <select th:field="${article.category.id}" class="browser-default">
				<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			</select>
  		</div>
 		 <div class="form-group">
		    <label for="exampleInputEmail1">Description</label>
		    <input class="form-control" type="text" placeholder="Description" th:field="${article.description}" />
		    <span th:if="${#fields.hasErrors('article.description')}" style="color:red;">Description can not be blank</span>
	  	</div>
	  	<div class="form-group">
		    <label for="exampleInputEmail1">Author</label>
		    <input class="form-control" type="text" placeholder="Author" th:field="${article.author}" />
		    <span th:if="${#fields.hasErrors('article.author')}" style="color:red;">Author Name can not be blank</span>
	  	</div>
	  	<input type="file" name="image" accept="image/*" multiple="multiple" /><br/>
  		<input type="submit" th:value="${formAdd}?'Save':'Update'" class="btn btn-primary"/>
	</form>
	</div>
</body>
</html>