<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout/default_layout">
<head>
<meta charset="ISO-8859-1" />
<title>Article Management System</title>
</head>
<body>
	<div id="main" class="table-responsive" layout:fragment="content">
	<h1 th:text="#{ams}" style="text-align:center;">Article List</h1>
	<h2><a href="/add" style="text-decoration:none;">Add New</a></h2>
	<table class="table" style="width:95%;margin:auto;">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Category</th>
                      <th scope="col">Author</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Created Date</th>
                      <th scope="col">Action</th>
                    </tr>
                </thead>
            <tbody>
                    <tr th:each="article:${articles}" th:object="${article}">
                     <td th:text="*{id}">ID</td>
					<td th:text="*{title}">Name</td>
					<td th:text="*{description}">Description</td>
					<td th:text="*{category.name}"></td>
					<td th:text="*{author}">Author</td>
					<td>
						<img th:src="*{thumbnail}" />
					</td>
					<td th:text="*{createdDate}">Created Date</td>
                      <td>
                      	<a th:href="@{/detail/{id}(id=*{id})}"><button class="btn btn-primary btn-sm" style="background-color: green">View</button></a>
                         <a th:href="@{/delete/{id}(id=*{id})}"> <button class="btn btn-primary btn-sm">Delete</button></a>
                          <a th:href="@{/update/{id}(id=*{id})}"><button class="btn btn-primary btn-sm" style="background-color: tomato">Update</button></a>
                      </td>
                      </tr>
                </tbody>
            </table>
	</div>
</body>
</html>