<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
<head>
<meta charset="ISO-8859-1" />
<title>View Article</title>
</head>
<body>
	<div id="main" class="container" layout:fragment="content">
	<h1 style="text-align:center;">View Article</h1>
	<h2><a href="/article" style="text-decoration:none;">Back to HomePage</a></h2>
	<form>
	  	<div class="form-group">
		    <label for="exampleInputEmail1">ID</label>
		    <input class="form-control" type="text" placeholder="ID" th:field="${book.id}" />
	  	</div>
  		<div class="form-group">
		    <label for="exampleInputPassword1">Title</label>
		    <input class="form-control" type="text" placeholder="Article Title" th:field="${book.title}" />
  		</div>
  	 <!--  <div class="form-group">
		    <label for="exampleInputPassword1">Category</label>
		    <select th:field="${article.categories.id}" class="browser-default">
				<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			</select>
  		</div>-->
 		 <div class="form-group">
		    <label for="exampleInputEmail1">Description</label>
		    <input class="form-control" type="text" placeholder="Description" th:field="${book.description}" />
	  	</div>
	  	<div class="form-group">
		    <label for="exampleInputEmail1">Author</label>
		    <input class="form-control" type="text" placeholder="Author" th:field="${book.author}" />
	  	</div>
	  	<div class="form-group">
		    <label for="exampleInputEmail1">Thumbnail</label>
		    <input class="form-control" type="text" placeholder="Author" th:field="${book.thumbnail}" />
	  	</div>
	</form>
	</div>
</body>
</html>